{% extends 'base.html' %}
{% load static %}

{% block title %}Registrar Laboratorio - UTT{% endblock %}

{% block content %}
<main class="container mt-5 px-3" style="max-width:500px;">

    <div class="text-center mb-4">
        <h2 class="fw-bold text-success">Registrar Laboratorio</h2>
    </div>

    <form method="POST" class="card p-4 shadow-sm border-0 w-100 mx-auto bg-white rounded-3">
        {% csrf_token %}
        
        <div class="text-center mb-4 border-bottom pb-3">
            <h2 class="h5 fw-bold" style="color: #164f3d;">Datos del Espacio</h2>
            <p class="small text-secondary">El ID se asignará automáticamente al guardar.</p>
        </div>

        <div class="mb-3">
            <label for="nombreLaboratorio" class="form-label fw-bold" style="color: #198754;">Laboratorio o Taller</label>
            <input id="nombreLaboratorio" name="nombre" type="text" class="form-control" placeholder="Ej: Laboratorio de Redes" required>
        </div>

        <div class="mb-4">
            <label for="ubicacion" class="form-label fw-bold" style="color: #198754;">Ubicación</label>
            <input id="ubicacion" name="ubicacion" type="text" class="form-control" placeholder="Ej: Edificio C, Planta Alta" required>
        </div>

        <section class="d-flex justify-content-between gap-3">
            <a href="{% url 'laboratorios' %}" class="btn btn-outline-secondary flex-grow-1 rounded-pill fw-bold">Cancelar</a>
            
            <button type="submit" class="btn text-white flex-grow-1 rounded-pill fw-bold shadow-sm" 
                    style="background-color: #198754 !important; border: none !important;">
                Registrar Laboratorio
            </button>
        </section>

    </form>

</main>
{% endblock %}